* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Roboto', sans-serif;
	font-weight: 100
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	
}
body {
	line-height: 1.7;
	font-size: 14pt
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
	font-size: 54px;
	line-height: 66px;
	margin-top: 2em;
	font-weight: 100;
}

h2 {
	font-size: 32px;
	font-weight: 100;
	line-height: 49px;
	margin-top: 50px
}

.content {
	width: 955px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	position: relative;
	text-align: center;
}

a {
	padding: 1em 2em;
	background-color: #dddddd;
	color: black;
	border-radius: 6px;
	margin: 5px;
	font-weight: 100;
	text-decoration: none; 
	-webkit-transition: 350ms;
}

p {
	text-align: left;
	margin-top: 20px;
}

img {
	max-width: 100%;
}

.download {
	margin-top: 80px;
	margin-bottom: 90px
}

.nav {
	margin-top: 50px;
	margin-bottom: 110px
}

.active {
	background-color: black !important;
	color: white !important;
}

a:hover {
	background-color: #b7b7b7;
	-webkit-transition: 350ms;
}
